@model Medway_Pratice.Models.Service
@{
    ViewBag.Title = Model.Name;
}

<!-- breadcrumb-section - start
    ================================================== -->
<section id="breadcrumb-section" class="breadcrumb-section clearfix">
    <div class="overlay-white sec-ptb-100">
        <div class="container">

            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("index","home")">home</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("index","services")">service</a></li>
                <li class="breadcrumb-item active">@Model.Name</li>
            </ol>

            <h2 class="breadcrumb-title">service details</h2>

        </div>
    </div>
</section>
<!-- breadcrumb-section - end
================================================== -->
<!-- service-section - start
================================================== -->
<section id="service-section" class="service-section sec-ptb-100 clearfix">
    <div class="container">
        <div class="row">

            <!-- service-details - start -->
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="service-details">

                    <!-- service-details-img - start -->
                    <div class="service-details-img mb-40">
                        <img src="~/Uploads/@Model.MainPhoto" alt="@Model.Name">
                    </div>
                    <!-- service-details-img - end -->
                    <!-- service-details-contant - start -->
                    <div class="service-details-contant mb-40">
                        <h2 class="title-xlarge mb-15">
                            @Model.Name
                        </h2>

                        @Html.Raw(Model.Text)

                    </div>
                    <!-- service-details-contant - end -->
                </div>
            </div>
            <!-- service-details - end -->
            <!-- right-sidebar - start -->
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="right-sidebar">

                    <!-- rs-services - start -->
                    <div class="rs-services mb-30">
                        <h2 class="title-small">
                            services
                        </h2>

                        <ul class="rs-services-list ul-li-block">
                            @foreach (var item in ViewBag.Services)
                            {
                                if (Model.Id!=item.Id)
                                {
                                    <li>
                                        <a href="@Url.Action("read","services",new { id=item.Id })" class="waves-effect">
                                            <i class="ion-ios-checkmark-outline clr-orange"></i>
                                          @item.Name
                                        </a>
                                    </li>
                                }
                            }

                        </ul>
                    </div>
                    <!-- rs-services - end -->
                    <!-- rs-contact - start -->
                    <div class="rs-contact">
                        <h2 class="title-small">
                            contact
                        </h2>

                        <form action="#" class="rs-contact-form">
                            <input type="text" placeholder="Name">
                            <input type="email" placeholder="Email">
                            <textarea rows="3" placeholder="message"></textarea>

                            <div class="text-center">
                                <a href="#!" class="custom-btn bg-orange waves-light waves-effect waves-light" tabindex="0">
                                    <span>send message</span>
                                    <i class="ion-android-send"></i>
                                </a>
                            </div>
                        </form>
                    </div>
                    <!-- rs-contact - end -->

                </div>
            </div>
            <!-- right-sidebar - end -->

        </div>
    </div>
</section>
<!-- service-section - end
================================================== -->
